html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: white;
	/*width: 550px;*/
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
  outline: none;
}

#new-reminder,
#new-reminder-when,
#new-todo,
.edit {
	position: relative;
	margin: 0;
	font-size: 1em;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#new-reminder,
#new-reminder-when,
#new-todo,
.edit {
	padding: 10px 10px 10px 30px;
	border: none;
	background: rgba(0, 0, 0, 0);
	z-index: 2;
	box-shadow: none;
}

#new-todo,
.edit {
	width: 100%;
}

#new-reminder {
	width: 40%;
}

#new-reminder-when {
	width: 50%
}
#main {
	position: relative;
	z-index: 2;
	border-top: 1px #adadad;
}

#todo-list, #reminder-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#reminder-list li, #todo-list li {
	position: relative;
	font-size: 1em;
	border-bottom: 1px #ccc;
}

#reminder-list li:last-child, #todo-list li:last-child {
	border-bottom: none;
}

#reminder-list li.editing, #todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

#reminder-list li.editing .edit, #todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#reminder-list li.editing .view, #todo-list li.editing .view {
	display: none;
}

#reminder-list li .toggle, #todo-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	/* Mobile Safari */
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#reminder-list li .toggle:after, #todo-list li .toggle:after {
	content: '\2713';
	/* 40 + a couple of pixels visual adjustment */
	line-height: 43px;
	font-size: 1em;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

#reminder-list li .toggle:checked:after, #todo-list li .toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

#reminder-list li label, #todo-list li label {
	white-space: pre;
	word-break: break-word;
	margin-left: 30px;
	display: block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

#todo-list li label {
	padding: 5px 15px 5px 15px;
}

#reminder-list li label {
	padding: 13px 15px 5px 15px;
}

#reminder-list li.completed label, #todo-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

#reminder-list li .destroy, #todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 1em;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#reminder-list li .destroy:hover, #todo-list li .destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#reminder-list li .destroy:after, #todo-list li .destroy:after {
	content: 'x';
}

#reminder-list li:hover .destroy, #todo-list li:hover .destroy {
	display: block;
}

#reminder-list li .edit, #todo-list li .edit {
	display: none;
}

#reminder-list li.editing:last-child, #todo-list li.editing:last-child {
	margin-bottom: -1px;
}

#footer {
	color: #777;
	padding: 0 15px;
	position: absolute;
	right: 0;
	bottom: -31px;
	left: 0;
	height: 20px;
	z-index: 1;
	text-align: center;
}

#footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 31px;
	left: 0;
	height: 50px;
	z-index: -1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
				0 6px 0 -3px rgba(255, 255, 255, 0.8),
				0 7px 1px -3px rgba(0, 0, 0, 0.3),
				0 43px 0 -6px rgba(255, 255, 255, 0.8),
				0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
	float: left;
	text-align: left;
}

#filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

#filters li {
	display: inline;
}

#filters li a {
	color: #83756f;
	margin: 2px;
	text-decoration: none;
}

#filters li a.selected {
	font-weight: bold;
}

#clear-completed {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	font-size: 1em;
	padding: 0 10px;
	border-radius: 3px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
	background: rgba(0, 0, 0, 0.15);
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#info {
	margin: 65px auto 0;
	color: #a6a6a6;
	font-size: 1em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#info a {
	color: inherit;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox and Opera
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#todo-list li .toggle {
		background: none;
	}

	#todo-list li .toggle {
		height: 40px;
	}
}

.hidden {
	display: none;
}

hr {
	margin: 0 0;
	border: 0;
	border-top: 1px solid #C5C5C5;
	border-bottom: 1px solid #F7F7F7;
}

#weather_widget {
    width: 25%;
    height: 100%;
    background-image: url('../images/gradient0.png');
    float: left;
    display: table;
}

#todo_widget {
    width: 35%;
    height: 100%;
    background-image: url('../images/gradient1.png');
    display: inline-block;
    float: left;
    overflow:auto;
}

#reminder_widget {
    width: 40%;
    height: 100%;
    background-image: url('../images/gradient2.png');
    display: inline-block;
    overflow:auto;
}

header h1 {
	text-align: center;
}

/* Clock */


.clock {
    width: 100%;
    margin-bottom: 60px;
    padding-top: 20px; 
    color: #fff;
}

#Date {
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}

.clock ul {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.clock ul li {
    display: inline;
    font-size: 2em;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;text-shadow: 0 0 20px #00c6ff;}
	50% {opacity: 0;text-shadow: none;}
	100% {opacity: 1.0;text-shadow: 0 0 20px #00c6ff;}	
}

@-moz-keyframes mymove {
    0% {opacity: 1.0;text-shadow: 0 0 20px #00c6ff;}
	50% {opacity: 0;text-shadow: none;}
    100% {opacity: 1.0;text-shadow: 0 0 20px #00c6ff;};
}

.metric-label, .metric-stat {
	text-align: center;
	font-size: 2em;
}

.metric-forecast {
	text-align: center;
}

.weather {
	display:table-cell;
    vertical-align:middle;
    padding-left:20px;
}